<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<div id="users-container">
    <table class="users">
        <thead>
            <tr>
                <th>UID</th>
                <th>Username</th>
                <th>Role</th>
                <th><button id="new-user-button" class="new-user-button">Create User</button></th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr id="user-row-<%=user.userId%>">
                    <td><%= user.user_id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.role %></td>
                    <td>
                        <input type="button" value="Delete" class="delete-button" onclick="deleteUser('<%= user.userId%>')" />
                        <input type="button" value="Edit" class="edit-button" onclick="editUser('<%= user.userId%>')">
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>    
</div>