<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    
    <%- include('../partials/tasks_table.ejs'); %>
    <%- include('../partials/task_form.ejs'); %>

    <% if (endpoint.startsWith('apps/todo/admin')) { %>
        <%- include('../partials/users_table.ejs'); %>
        <%- include('../partials/add_user_form.ejs');%>
        <%- include('../partials/update_user_form.ejs');%>

        <script src="/scripts/admin-dashboard.js"></script>
    <% } %>

    <% if (endpoint.startsWith('/apps/todo')) { %>
        <script src="/scripts/user-dashboard.js"></script> 
    <% } %>
</body>
</html>