<%- include('./layout.ejs', { pageTitle: 'Tasks', body: ''}) %>
<link rel="stylesheet" type="text/css" href="/styles/tasks.css">
<div id="tasks-container">
    <table class="tasks">
        <thead>
            <tr>
                <th>✔</th>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th><button id="new-task-button" class="new-task-button">New Task</button></th>
            </tr>
        </thead>
        <tbody>
            <% tasks.forEach(task => { %>
                <tr id="task-row-<%= task.task_id %>">
                    <td>
                        <input type="checkbox" id="task-checkbox" data-taskId='<%= task.task_id %>' <% if (task.completed) { %> checked <% } %> autocomplete="off">
                    </td>
                    <td><%= task.title %></td>
                    <td><%= task.description %></td>
                    <td><%= task.due_date %></td>
                    <td><%= task.priority %></td>
                    <td>
                        <input type="button" value="Delete" class="delete-button" onclick="deleteTask('<%= task.task_id %>', '<%= task.title %>')" />
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>    
</div>

<div id="form-container" class="form-container" style="display: none;">
    <%- include('form.ejs') %>
</div>

<script src="/scripts/script.js"></script>