<%- include('/pages/home.ejs', { pageTitle: 'Tasks', body: "" }) %>
<link rel="stylesheet" type="text/css" href="/styles/tasks.css">
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Completed</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        <% tasks.forEach(task => { %>
            <tr>
                <td><%= task.title %></td>
                <td><%= task.description %></td>
                <td><%= task.due_date %></td>
                <td><%= task.completed ? 'Yes' : 'No' %></td>
                <td><%= task.priority %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
